<div>
  <h1>{{title}}</h1>
  <!-- <app-student></app-student> -->
  <!-- <app-test></app-test> -->
  <!-- <app-test-prop-binding></app-test-prop-binding> -->
  <!-- <app-test-class-binding></app-test-class-binding> -->
  <!-- <app-test-style-binding></app-test-style-binding> -->
  <!-- <app-test-event-binding></app-test-event-binding> -->
  <!-- <app-test-template-ref-var></app-test-template-ref-var> -->
  <!-- <app-test-twowaybinding></app-test-twowaybinding> -->
  <!-- <app-test-ng-if></app-test-ng-if> -->
  <!-- <app-test-ng-switch></app-test-ng-switch> -->
  <!-- <app-test-ng-for></app-test-ng-for> -->
  <app-test-comp-interaction (childMSG)="msg=$event" [fromParent] = "parentMSG"> </app-test-comp-interaction>
  <h1>{{msg}}</h1> 
</div>